
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Lato:wght@300&display=swap');



.body{
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.login-style {
   text-align: center;
   background: rgb(116, 187, 104);
    
   height: 300px;
   min-width: 300px;
   padding: 80px; 
   border-radius: 1.5em;
   font-family: 'Lato', sans-serif;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   box-shadow: 0 8px 16px 0 rgba(255, 0, 0), 0 6px 20px 0 rgba(248, 1, 1, 0.19);
   overflow: 'auto'

}
.Darker {
 color: black;
}
.App {
 text-align: center;
}

.App-logo {
 animation: App-logo-spin infinite 20s linear;
 height: 80px;
}

.App-header {
 background-color: #222;
 height: 150px;
 padding: 20px;
 color: white;
}



.App-intro {
 font-size: large;
}





.button-login {
   margin: 15px;
   display: inline-block;
   padding: 10px 15px;
   font-size: 20px;
   cursor: pointer;
   text-align: center;
   text-decoration: none;
   outline: none;
   color: #fff;
   background-color: #005303;
   border: none;
   border-radius: 15px;
   box-shadow: 0 6px rgb(55, 46, 46);
 }
  .button:hover {background-color: #3e8e41}
  .button:active {
   background-color: #3e8e41;
   box-shadow: 0 5px #666;
   transform: translateY(4px);
 } 

  
 .row:after{
   clear:both;
}

.col {
   background: grey;
   /*border-radius: 5px;/*make rounded corners*/
   padding: 10px 5px;
   color: black;
   float: left;
   margin: 0.5%;
   text-align: center;
   width: 15%;/*each of the columns take up 33%
   (so in total take up whole width)
   can use % for width, margin etc. if it goes over 100%
   it will just keep wrapping around
   USE PERCENTAGE CHANGES if you want it to look nice
   on all devices and all sized browsers*/
}


body{
   background: rgb(104, 119, 187);;
   font-family: 'Lato', sans-serif;
}

body.main{
   background: white;
   font-family: 'Lato', sans-serif;
}

.wrapper{
   text-align: center;
   padding-top: 10px;
}



h4 {
   color: black;
   text-align: center;
   padding: 5px 5px 5px 5px;
  
}




p {
   background: #666;
   color: white;
   padding: 12px;
   text-align: center;
}

.darker {
   background: #333;
   border-radius: 5px;/*make rounded corners*/
   padding: 10px 10px 10px 10px;
   width: 50%;
   display: block;
   margin-left: auto;
   margin-right: auto;

   /*text-align center;*/
}



h2.titlestart {
   /*border: 1px solid red;*/
   padding: 30px 0px 20px 0px;
}
h3, h2 {text-align: center;}

.indexButton {
   color: #111;
}

.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 40%;
 }

 .centersmall {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 30%;
 }



.row{
   padding: 20px 20px 20px 20px;
}
.row:after{

   clear:both;
}

#smaller-image{
   width: 90%;
   height: auto;
}


img.rounded-corners {
   border-radius: 30px;
 }


.navbar {
	background-color: rgb(116, 187, 104);
	color: white;
	height: 70px;
	}
	
.navbar ul {
	background-color:rgb(116, 187, 104);
	list-style-type: none;

	display: flex;
} 

.navbar a {
	color: white;
	padding: 10px;
	margin: 0 10px;
	text-decoration: none; /* Remove underline on hover, if desired */
}

.navbar ul a:hover {
	text-decoration: none; /* Remove underline on hover, if desired */
	color: white;

	border-bottom: 2px #fff solid;
}


/*
artist and song box display styling
*/

.topArtists{
	justify-content: center;
	align-items: center;
}

.topSongs{
	align-items: center; 
}

.row {
	display: flex;
	justify-content: center;
	align-items: bottom;

  }
  
.item {
	display: flex;
	flex-direction: column;
	align-items: center; 
	text-align: center;
	padding: 10px; 
	width: 20%; 

}

.item img {
	display: flex;
	width: 100%; 
	height: 100%; /* Automatically calculate the height based on the aspect ratio */
	object-fit: cover; 
  }

.item-info {
	padding-top: 5px;
	height: 1.5em; /*fixs two line title issue with layout and image size. setting height to 1.5 is = to one line, so the other line overflows below */
	display: flex;
	flex-direction: column;
}

